---

---

<header class="global-padding">
  <div class="header-container max-width-base">
    <div class="logo">
      <h1>Sam Smyth</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Skills</a></li>
        <li><a href="/about">Portfolio</a></li>
        <li><a href="/contact">Experience</a></li>
        <li><a href="/contact" class="button button--outline">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .logo img {
    height: 40px;
    width: auto;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 4rem;
  }

  a {
    font-size: 1.125rem;
  }
</style>
