---
import "../styles/reset.css";
import "../styles/fonts.scss";
import "../styles/buttons.scss";
import "@fontsource-variable/montserrat";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "This is the meta description",
  image = "/images/meta.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="global-padding">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --dark-primary: 51, 51, 50;
    --accent: 22, 131, 58;
  }

  html {
    font-family: "Montserrat Variable", system-ui, sans-serif;
    font-size: 16px;
  }

  .global-padding {
    padding-inline: 2rem;
  }

  .max-width-base {
    max-width: 1200px;
    margin-inline: auto;
  }

  .full-width {
    margin-inline: -2rem;
  }
</style>
